@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*--------------------------------*\
     Common style or Utility 
\*--------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 80px;
}
.section-title>h2{
    text-align: center;
    margin: 30px 0px;
    font-weight: 500;
    font-size: 28px;
}
.button{
    margin-top: 28px;
    background-color: #FB8200;
}
.btn{
    padding: 10px 30px;
    color: #fff;
    background-color: #E02C6DDE;
    border-radius: 10px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #E02C6DDE;
    border: 1px solid #E02C6DDE;
}

/*--------------------------------*\
             header style
\*--------------------------------*/

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.nav-logo{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-left: 15%;
}

.nav-items_logo{
    margin-right: 17%;
    display: flex;
}

.nav--items>ul{
    display: inline-flex;
    justify-content: center;
}
.nav--items>ul>li{
    list-style: none;
    margin: 0px 5px;
}
.nav--items .nav-link{
    padding: 3px 6px;
}

.nav--items>ul>li:hover .nav-link{
    color: #ffffffde;
    background-color: rgb(201, 196, 196);
    border-radius: 3px;
    
}

.nav--items>ul>li a{
    text-decoration: none;
    color: #3A3A3A;
}
.item-logo>.fas{
    margin-left: 10px;
    font-size: 24px;
}


.header-top{
    max-width: 1047px;
    display: flex;
    margin: 0px auto;
    
}
.header-title h1{
    font-size: 53px;
}
.headerSection-left >p{
     margin-bottom: 25px;
}

.header-top .headerSection-left{
    width: 50%;
}

.header-top .header-title--banner{
    width: 50%;
    margin-left: 50px;
    margin-top: 40px;
}

.header-top .header-title--banner img{
    width: 70%;
    padding-left: 80px;
}





/*--------------------------------*\
     popular-collections style
\*--------------------------------*/



.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1047px;
    height: 1500px;
    margin: 0 auto;
}
.popular-item{
    width: 315px;
    height: 470px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.item--banner img{
    width: 280px;
    height: 220px;
    margin: 18px 14px;

}
.item--detail{
    padding-left: 15px;
}
.item--detail .item--title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 6px;
}

.item--price{
    font-size: 24px;
}
.fas.filled{
    color: #FB8200;
    font-size: 12px;
}

.rating-number, 
.tiem-info{
    font-size: 15px;
    font-weight: 500;
}
.tiem-info{
    margin-top: 8px;
    color: #787885;
    /* text-align: justify; */
    width: 270px;
}

.collection-seeMore{
    margin: 0px auto;
    width: 950px;
    height: 10px;
    position: relative;
}
.collection-seeMore .seeMore{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    margin-top: 5px;
    padding: 10px;
}

.seeMore>span, .seeMore>.arrow{
    color: #E02C6DDE;
    font-weight: 700;
    font-size: 18px;
}



/*--------------------------------*\
            footer style
\*--------------------------------*/

footer{
    background-color: #0A0826;
    color: rgb(254, 255, 255);
    text-align: center;
    line-height: 35px;
    height: 220px;
}

.footer-info{
    padding-top: 50px;
}

.iconBg{
    margin-right: 7px;
}



/*--------------------------------*\
         Responsiv style
\*--------------------------------*/


/* For mobile devices */
@media only screen and (max-width:688px) {
    nav .nav--items{
        display: none;
    }
    .nav-logo{
        font-size: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: 10px;
    }
    .item-logo{
        display: inline-flex;
    }
    .header-top{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    .header-title>h1{
        font-size: 24px;
    }
    .headerSection-left>p{
        font-size: 14px;
        font-weight: 300;
    }
    .headerSection-left{
        margin: 0px auto;
        width: 350px;
    }

    .popular-collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-item{
        margin: 10px auto;
    }
    .popular-collections{
        height: 100%;
    }


}

@media only screen and (min-width:768px) and (max-width:1024px) {
    nav .nav--items{
        display: none;
    }
    .header-top{
        padding: 0px 77px;
    }
    .popular-collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular-item{
        margin: 10px auto;
    }
    .popular-collections{
        height: 100%;
    }
}